* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto -105px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 105px; /* '.push' must be the same height as 'footer' */
}
hr {
    border-top: 1px solid #d5d5d5;
}
.myGrid {
    width: 990px;
    height: 390px;
}

.progress {
    height: 2em;
}

.panel-body{
    background-color: #ecf0f1;
}

.progress{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
}
