<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-md-5">
            <h4><b>Wprowadzanie nowego zadania</b></h4>
        </div>
    </div>
    <hr>
    <div class="col-sm-offset-3">
        <div class="row">
            <div class="col-md-9">
                <h4>Jednostka docelowa:</h4>
                <select class="form-control" ng-model="selectedDepartment"
                        ng-options="item.name for item in departments">
                    <option value="">-jednostka organizacyjna-</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h4>Tytuł zlecenia:</h4>
                <input type="text" class="form-control" data-ng-model="task.name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <h4>Treść zlecenia:</h4>
                        <textarea class="form-control" rows="3" style="resize:none"
                                  data-ng-model="task.description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a ui-sref="home" class="btn btn-block btn-danger">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> Anuluj
                </a>
            </div>
            <div class="col-sm-offset-1 col-md-4">
                <a class="btn btn-block btn-success"
                   ng-disabled="!(!!selectedDepartment && !!task.name && !!task.description)" ng-click="save(task.name, task.description, selectedDepartment);modalService.open('sm','Zadanie zapisano','ok',{ok: 'home'});">
                    <span class="glyphicon glyphicon-ok-circle"></span> Zapisz
                </a>
            </div>
        </div>
    </div>
</div>