<div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
</div>
<div class="modal-footer">
    <div data-ng-show="type=='yes/no'" class="row">
        <div class="col-sm-offset-1 col-md-5">
            <a class="btn btn-block btn-success" ng-click="no()">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> NIE
            </a>
        </div>
        <div class="col-md-5">
            <a ui-sref="{{hrefs.yes}}" class="btn btn-block btn-danger" ng-click="ok()">
                <span class="glyphicon glyphicon-remove-sign"></span> TAK
            </a>
        </div>
    </div>
    <div data-ng-show="type=='ok'" class="row">
        <div class="col-sm-offset-3 col-md-6">
            <a ui-sref="{{hrefs.ok}}" class="btn btn-block btn-success" ng-click="ok()">
                <span class="glyphicon glyphicon-ok-circle"></span> OK
            </a>
        </div>
    </div>
</div>
