<div data-ng-controller='reservationDetailsController'>
    <div class="row">
        <div class="col-sm-offset-4 col-md-6">
            <h4><b>Szczegóły rezerwacji nr {{reservationData.reservationId}}</b></h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h4>Początek rezerwacji: {{reservationData.startDate | date : 'dd.MM.yyyy'}}</h4>
        </div>
        <div class="col-md-6">
            <h4>Koniec rezerwacji: {{reservationData.endDate | date : 'dd.MM.yyyy'}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Imię i nazwisko: {{client.firstName + ' ' +client.lastName}}</h4>
        </div>
        <div class="col-md-6">
            <h4>PESEL: {{client.pesel}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Telefon: {{client.phoneNumber}}</h4>
        </div>
        <div class="col-md-6">
            <h4>Adres e-mail: {{client.email}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Numer pokoju: {{room.roomNo}}</h4>
        </div>
        <div class="col-md-6">
            <h4>Typ pokoju: {{roomType.roomType}}{{roomsInReservation.bed ? ' z dostawką' : ''}}</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <a ui-sref="findReservation" class="btn btn-block btn-info">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Powrót
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-block btn-danger" ng-click="open('sm','Czy na pewno chcesz usunąć tę&nbsp;rezerwację?','yes/no',{yes: 'findReservation'}, 'reservationDetails');">
                <span class="glyphicon glyphicon-remove-sign"></span> Anuluj rezerwację
            </a>
        </div>
    </div>
</div>