<div class="row">
    <div class="col-md-6">
        <h4>Data początku rezerwacji:</h4>
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="startDate" is-open="openedStart"
                   min-date="minDateStart" max-date="endDate" data-ng-required="true" close-text={{closeText}}
                   clear-text={{clearText}} current-text={{currentText}} />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
    <div class="col-md-6">
        <h4>Data końca rezerwacji:</h4>
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="endDate" is-open="openedEnd"
                   min-date="startDate" data-ng-required="true" close-text={{closeText}}
                   clear-text={{clearText}} current-text={{currentText}} />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Rodzaj pokoju:</h4>
        <select class="form-control" ng-model="selectedRoomType" ng-options="item.roomType for item in roomTypes">
            <option value="">-rodzaj pokoju-</option>
        </select>
    </div>

    <div class="col-md-2">
        <h4>Dostawka:</h4>
        <p class="input-group">
            <label class="btn btn-default" ng-model="bedCheckbox" btn-checkbox>{{bedCheckbox ? "Dostawka" : "Bez dostawki"}}</label>
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <a ui-sref="newReservation.specifyReservation" class="btn btn-block btn-info" ng-disabled="!(!!startDate && !!endDate && !!selectedRoomType)" ng-click="getAvailableRooms(startDate, endDate, selectedRoomType, bedCheckbox)">
            <span class="glyphicon glyphicon-circle-arrow-right"></span> Sprawdź dostępność pokoi
        </a>
    </div>
</div>